{erl_opts, [debug_info]}.
{deps, [
	{cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.7.0"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [certificate_server]}
]}.

{relx, [
	{release, {rel, "0.1.0"}, [certificate_server]},
	{dev_mode, false},
	{extended_start_script, true},
	{include_erts, true}]}.
